{% extends "todo_app/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}
  
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TO-DO Liste Hakkında:</center></h1>
        <p class="lead"><center>Bu To-Do list Python Django Web Development ile yapıldı.</center></p>
        <p class="lead"><center>Listeyi doğru takip ediniz.</center></p>
        <p class="lead"><center>Planlarınızı listeye ekleyin.</center></p>
        <p class="lead"><center>İstediğiniz maddeyi güncelleyebilir ve silebilirsiniz.</center></p>
        <br><br>
      <div class="text-center">
        <button type="button" class="btn btn-outline-success"> TO-DO Listesi oluştur</button>
      </div>
    </div>
  </div>
{% endblock content %}